body{
	color:white;
	background-color:DarkSlateGray;
}

ul{
	list-style-type: none;
}

#inputText, #chatLog{
	border: solid 1px white;
			width: 100%;
			color:white;
			background-color:black;
}
		
#chatLog{
	border: solid 2px white;
	height: 200px;
	color:white;
	background-color:black;
}

#contents{
	width: 100%;
	height: 200px;
}

#chatLogDiv{
	float: left;
	width: 80%;
	height: 100%;
}

#userListDiv{
	border: solid 2px black;
	height: 100%;
	overflow: auto;
}

#connectedUsers{
	height:80%;
	width:30%;
	background-color: #0FF00F;
}

.chatUser{
	width:30%;
	height:15%;
	background-color:cyan;
}
